@font-face {
  font-family: OpenSans;
  src: url("./assets/font/OpenSans.ttf");
}
body, * {
  margin: 0;
  padding: 0;
  font-family: OpenSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 0.9rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
